{% extends "kalkulator/base.html" %}

{% block main %}
	<div id="Stanje"> 
			
		<!--			
		<form> 											
			<label>Izberi racun:</label><select>		
										<option selected>Vsi</option>
										<option>transakcijski racun</option>										
										</select>	
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>
		-->	
				
		<form action="StanjePodrobno">	{% csrf_token %} 											
			<label>Prikazi vnose na racunu:</label><select name="dropdown">	
										{% for racun in racuni %}		
											{% if user.username == racun.uporabnik.username %}
												<option>{{racun.ime}}</option>	
											{% endif %}
										{% endfor%}																						
										</select>			
			<input type="submit" id="vpisi" value="Prikazi">	
		</form>		
		
		<span id="tekst"></span>
		
		<div id="izpisStanja"> 								
				
			{% block izpisStanja %}
			{% endblock %}
							
			{{warning}}								
					
		</div>		
		
		<form action="dodajRacun">  {% csrf_token %} 	
			<label>Dodaj nov racun:</label><input type="text" placeholder="Vpisite ime novega racuna" name="racun1">
										   <input type="submit" id="vpisi" value="Dodaj">		
		</form>
		
		<form action="odstraniRacun">	{% csrf_token %} 											
			<label>Izbrisi obstojec racun:</label><select name="racun">	
										{% for racun in racuni %}		
											{% if user.username == racun.uporabnik.username %}
												<option>{{racun.ime}}</option>	
											{% endif %}
										{% endfor%}																						
										</select>			
			<input type="submit" id="vpisi" value="izbrisi">	
		</form>	
		
		

		
		
					
	</div>
{% endblock %}


<!-- 

{% if user.is_authenticated %}
      Hi {{ user.username }}!
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
    {% endif %}



-->